<div class="container">
    <!-- Top Content: Icon, Title, and Subtext -->
    <div class="top-content">
        <div class="icon">
            <img src="assets/images/unicornicon.svg" alt="login" />
            <h5>UI Unicorn</h5>
        </div>
        <h6 class="subtext">Automate your LinkedIn Content Generation</h6>
    </div>

    <!-- Bottom Content: Everything else -->
    <div class="bottom-content">
        <!-- Quick Start Text -->
        <div class="quick-start-text">
            <h6>Quick start</h6>
        </div>

        <!-- Grid Panels -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mt-2">
            <div *ngFor="let panel of panelcol" class="p-2">
                <div class="card shadow-md">
                    <div class="text-base">{{ panel.title }}</div>
                </div>
            </div>
        </div>
        <br><br>

        <!-- Textarea -->
        <textarea pTextarea id="address" rows="5" class="full-width-textarea" 
             placeholder="What is the Content you want to create LinkedIn content for? Or suggest me a topic">
        </textarea>

    

        <!-- Buttons Row -->
        <div class="buttons-row">
            <div class="left-buttons-bottom">
                <p-button label="My Preferences" severity="secondary" class="rounded-button orange-button" outlined></p-button>
                <p-button label="Image" severity="secondary" class="rounded-button" outlined></p-button>
                <p-button label="Carousal" class="rounded-button" severity="secondary" outlined></p-button>
                <div class="flex flex-wrap gap-2 w-full">
                    <p-select id="state" [(ngModel)]="dropdownItem" [options]="dropdownItems" 
                        optionLabel="name" placeholder="Parsona" class="w-full">
                    </p-select>
                </div>
            </div>
            <div class="right-buttons-bottom">
                <p-button label="Generate Posts" class="rounded-button"></p-button>
            </div>
        </div>
    </div>
</div>
